<?xml version='1.0' encoding='utf-8'?>
<widget id="pl.edu.zut.wi.db57773" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bartosz 57773</name>
    <description>
        Weather App
    </description>
    <author email="db57773@zut.edu.pl" href="https://www.wi.zut.edu.pl">
        Bartosz Dobrochowski
    </author>
    <content src="weather.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
