{% extends "layout.html" %}

{% block title %}Edit Song {{ song.title }} ({{ song.id }}){% endblock %}
{% block bodyClass %}edit{% endblock %}

{% block content %}
<h1>Edit Song {{ song.title }} ({{ song.id }})</h1>

<form action="{{ url_for('song_edit', song_id=song.id) }}" method="post" class="edit-form">
    {% include "song/form.html" %}
</form>

<ul class="action-list">
    <li><a href="{{ url_for('song_list') }}">Back to list</a></li>
    <li>
        <form action="{{ url_for('song_delete', song_id=song.id) }}" method="post">
            <input type="submit" value="Delete" onclick="return confirm('Are you sure')">
        </form>
    </li>
</ul>
{% endblock %}
