<div class="form-group">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" value="{{ song.title if song else '' }}">
</div>

<div class="form-group">
    <label for="artist">Artist</label>
    <input type="text" id="artist" name="artist" value="{{ song.artist if song else '' }}">
</div>

<div class="form-group">
    <label for="year">Year</label>
    <input type="number" id="year" name="year" value="{{ song.year if song else '' }}">
</div>

<div class="form-group">
    <input type="submit" value="Submit">
</div>
