<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="index">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/songs">Songs</a></li>
      </ul>
    </nav>
    <main>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </main>
    <footer>&copy;<%= new Date().getFullYear() %> CRUD App</footer>
  </body>
</html>
